body {
    font-family: monospace;
    color: white;
    background-image: linear-gradient(to right, #f22232, #222ff2);
    font-size: 1.75rem;
    text-align: center;
    max-width: 720px;
    margin: 36px auto;
  }

  button {
    background: none;
    border: 1px solid white;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
    font-family: monospace;
    font-size: 1.75rem;
    font-weight: bold;
    padding: 1rem 1.5rem;
    transition: background 1s, color 1s;
  }

  button:hover {
    background: white;
    color: black;
    transition: background 1s, color 1s;
  }
  
  div {
    margin-bottom: 18px;
  }